<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="gsbrapports2026Entities" connectionString="metadata=res://*/Rapports.csdl|res://*/Rapports.ssdl|res://*/Rapports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MH\BELLAHCENE;initial catalog=gsbrapports2026;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GsbRapports.Properties.Settings.gsbrapports2026ConnectionString"
      connectionString="Data Source=MH\BELLAHCENE;Initial Catalog=gsbrapports2026;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>